
  {{#each this}}
  <div class="vc_col-sm-4 wpb_column column_container col no-padding animate color-dark" style="opacity: 1; bottom: 0px;" data-animation="fade-in-from-bottom" data-delay="0">
    <div class="wpb_wrapper">
      <div class="member-item wpb_content_element">
          <div class="member-img">
            <a href='{{url}}'><img src='{{image}}' alt="" style="height:300px; width:300px"></a>
        </div>
        <h4>{{name}} </h4>
        <!-- <div class="member-content">
          <p class="align-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur…</p>
        </div> -->
      </div>
    </div>
  </div>
{{/each}}
<div class="vc_col-sm-2"></div>
